h2 {
  margin: 0;
}

html, body, #root, div.app {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

section.list {
  background: #333;
  color: #fff;
  width: 300px;
  height: 100%;
  float: left;
  position: relative;
}

section.list ul {
  padding: 0;
  height: calc(100% - 28px - 21px);
  overflow-y: auto;
}

section.list li {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

section.list li span.draggable {
  padding-right: 10px;
  cursor: grab;
}

section.list li button {
  float: right;
  margin: 0 5px 0 0;
  padding: 0;
  border: none;
  background: transparent;
  color: white;
}

section.list button.download {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

section.map {
  width: calc(100% - 300px);
  height: 100%;
  float: left;
}

div.leaflet-container {
  width: 100%;
  height: 100%;
}